body {
    background-color: #F4F1EB;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    padding: 1.6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 100;
}

nav a {
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: 17px;
    color: #F4F1EB;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 5px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-decoration: underline;
}

nav a:hover {
    color: #f4f1eb65;
}

.header {

        margin-left: 20px;
        position: absolute;
        font-family: 'Hubballi';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-decoration-line: underline;
        color: #F4F1EB;


}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #664E6D;
    color: #F4F1EB;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.btn:hover {
    background-color: #563e5d;
    transform: translateY(-2px); /* Only move up, not left */
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.btn-centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-centered:hover {
    transform: translate(-50%, -2px);
}