<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Hubballi&family=Nixie+One&family=Simonetta:ital,wght@0,400;0,900;1,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>

<body>
    <div class="header">
        <h1>Rosla <br>Technologies</h1>
    </div>

    <nav>
        <a href="{{ url_for('index') }}">Learn</a>
        <a href="{{ url_for('index') }}">Footprint Calculator</a>
        <a href="{{ url_for('index') }}">Energy Tracker</a>
        <a href="{{ url_for('index') }}">Solar Consultation</a>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>