{% extends 'base.html' %}

{% block content %}

<hr>

<img src="{{ url_for('static', filename='images/infoHub/title.svg') }}" alt="Your Gateway To Smarter Energy Choices" class="title">

<br>

<div class="redirects" id="redirects-container">
    <a href="{{ url_for('energy_tips') }}" class="info-link reduce-cfp">
        <img src="{{ url_for('static', filename='images/infoHub/reduceCFP.svg') }}" alt="reduce CFP" class="info-image">
    </a>
    <a href="{{ url_for('ev_chargers') }}" class="info-link ev-chargers">
        <img src="{{ url_for('static', filename='images/infoHub/evChargers.svg') }}" alt="EV Chargers" class="info-image">
    </a>
    <a href="{{ url_for('smart_home') }}" class="info-link smart-home">
        <img src="{{ url_for('static', filename='images/infoHub/smartHome.svg') }}" alt="Smart Home" class="info-image">
    </a>
    <a href="{{ url_for('green_energy') }}" class="info-link green-energy">
        <img src="{{ url_for('static', filename='images/infoHub/greenEnergy.svg') }}" alt="Green Energy" class="info-image">
    </a>

</div>

<style>


    .a11y-icon  {
            filter: brightness(0) saturate(100%) invert(31%) sepia(19%) saturate(728%) hue-rotate(241deg) brightness(96%) contrast(88%);
            border: 2px solid #664E6D;
    }
    .a11y-icon:hover, .a11y-text:hover {
        border: 3px solid #664E6D;
    }
    

    nav a {
        color: #664E6D;
    }

    .header a {
        color: #664E6D;
    }

    .login-bar a {
        color: #664E6D;
    }

    .title {
        width: 40%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;  
    }

    .redirects {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 200px;
        justify-content: center;
        margin-top: 50px;
    }

    .info-image {
        transition: transform 0.3s ease;
        width: 300px;
    }

    .info-image:hover {
        transform: scale(1.1) !important;
    }
</style>

<script>
    document.querySelectorAll('.info-image').forEach(img => {
        const random = Math.floor(Math.random() * 31) - 15;
        img.style.transform = `rotate(${random}deg)`;
    });
</script>

{% endblock %}